* {
  box-sizing: border-box;
  padding: 0px;
}

body {
  margin: 0;
  font-family: Lato, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

html {
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app_container {
  padding: 40px 70px;
  width: 100%;
  background-color: #1d293a;
  border-bottom: 2px solid #00cf5d;
  
}


.wrapper {
  padding: 0px 100px;
  margin-bottom: 180px;
}