.about_container {
  @include flex(center, center, row, 150px);
  @include media(large) {
    @include flex(center, center, column, 150px);
    text-align: center;
  }

 &_left {
  @include media(small) {
    @include flex(center, center, column, 50px);
  }
 }

  h3 {
    color: white;
    font-weight: 500;
    margin-bottom: 50px;
    font-size: 1.5rem;
    line-height: 1.5;

    @include media(small) {
      font-size: 1.2rem;
      width: 320px;
    }

   
  }

  &_left_buttons {
    @include flex(flex-start, center, row, 30px);
    @include media(large) {
      @include flex(center, center, row, 30px);
    }
    @include media(small) {
      @include flex(center, center, column, 30px);
    }
  }

  img {
    @include media(large) {
      width: 20rem;
      height: 25rem;
    }

    @include media(small) {
      width: 20rem;
    }
    height: 30rem;
    width: 40rem;
    border-radius: 5px;
    &:hover {
      transform: scale(1.2);
    }
  }
}
