.heading {
  font-size: 2rem;
  font-weight: 600;
  color: $mainGreenColor;
  position: relative;
  z-index: 221;
  margin-bottom: 60px;

  @include media(small) {
    font-size: 1.5rem;
    
  }

  &:before {
    content: "";
    position: absolute;
    left: 1px;
    top: 45px;
    width: 350px;
    height: 3px;
    background: linear-gradient(to left, #00cf5d, white 100%);
    z-index: -1;
    margin-bottom: 60px;

    @include media(medium2) {
      right: 50%;
      width: 320px;
    }


    @include media(small) {
      

    
      right: 50%;
      width: 300px;
    }

 }
}
