.hero_container {
  @include flex(space-between, center, row, 0px);

  
  
    @include media(large) {
      margin: 0px;
      @include flex(center, center, column, 120px);
    }
  

  &_left {
    @include media(large) {
      @include flex(center, center, column, 20px);
    }
    h1 {
      font-size: 4rem;
      margin-bottom: 40px;
      @include media(medium2) {
        text-align: center;
      }
     
    }

    &_subheading {
      color: $mainGreenColor;
      font-size: 1.8rem;
    }

    &_features {
      @include flex(flex-start, center, row, 30px);
      margin-bottom: 40px;
      color: white;

      @include media(large) {
        @include flex(center, flex-start, column, 20px);
        margin-bottom: 60px;
      }

      p, span {
        font-size: 1.5rem;
        @include media(large) {
          margin: 0px;
          @include flex(center, flex-start, row, 20px);
        }
      }

      p span, span span {
display: none;

@include media(large) {
  display: inline-block;
}
      }


      & p:after {
        content: "";
        display: inline-block;
        height: 6px;
        width: 6px;
        padding: 2px;
        border-radius: 50%;
        background-color: $mainGreenColor;
        margin-left: 20px;

        @include media(large) {
          display: none;
          
          
        }
      }
      
    }

    &_icons {
      @include flex(flex-start, center, row, 50px);
      font-size: 2.5rem;

      a {
        color: white;

        &:hover {
          color: $mainGreenColor;
        }
      }

      &_icon {
        cursor: pointer;
      }
    }
  }
}
